* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.header {
    height: 225px;
    flex-direction: row;
    justify-content: space-between;
}

.info-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
}

.logo-header {
    background-image: url('/i/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px;
    padding: 95px;
}

.info-p {
    padding: 30px 0;
}

h1.h1-header {
    padding: 20px 0;
    font-weight: lighter;
    font-size: 46px;
}

.info-p p {
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px 0;
    position: relative;
    height: 305px;
}

input {
    margin: 10px 0;
}

input#name {
    height: 45px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

input#text {
    height: 150px;
}

.form-block {
    padding: 0 10px;
    width: 50%;
}

h2 {
    font-size: 26px;
    font-weight: lighter;
}

textarea#text {
    resize: none;
    height: 115px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.gray {
    background-color: #eeeeee;
}

.padding {
    padding: 20px 0;
}

.comments {
	flex-direction: column;
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 30px;
    line-height: 30px;
    padding: 15px 10px 5px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.comment-text {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
}

.comment-text p {
    word-wrap: break-word;
}

.line {
	border-bottom: 2px solid #9E9E9E;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

.footer-logo {
    background-image: url(/i/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105px;
    height: 135px;
    width: 140px;
}

.footer-info {
    position: relative;
}

.info-block {
    position: absolute;
    bottom: 0;
    width: 340px;
}

.info-block p {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
}

p.copyright {
    padding: 10px 0 12px;
}

.timedate span {
    padding: 0 10px;
    font-size: 14px;
}

@media screen and (max-width:768px){
.header {
    height: 100%; 
    justify-content: space-between;
}
.wrapper {
    flex-direction: column;
}
.header.wrapper {
    flex-direction: column-reverse;
}
.form-block {
    padding: 0 10px;
	width: auto; 
}
h1.h1-header {
    font-size: 36px;
}
.info-block {
    position: static; 
    bottom: 0;
     width: 100%;
}
}
